body{
    background-image: url("math-background.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 65px !important;
    color: white !important;
}
.name-div{
    margin-top: 100px ;
    width: 500px ;
    background-color: white;
    padding: 20px;
    border-radius: 10px ;
}
h3{
    color: white !important;
}
button{
    margin-top: 20px !important;
    width: 500px;
    font-size: 20px !important;
}


